html
body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
}

.wrap {
  display: inline-block;
  position: relative;
  overflow: hidden
  left: 50%;
}

img {
  width: 300px;
  height: 200px;
}

.section-title {
  font-size: 200%;
  color: limegreen;
  text-align: middle;
}

.main-section-title {
  font-size: 300%;
  text-align: center;
  color: limegreen;
}

.character {
  display: inline-block;
  background-color: black;
  color: yellowgreen;
}

.character-image {
  padding-right: 17px;
  padding-left: 17px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#attack-section .character {
  display: inline-block;
  background-color: black;
  color: yellowgreen;
}

.enemy {
  display: inline-block;
  background-color: black;
}

#action .character {
  color: yellowgreen;
  background-color: black;
}
.target-enemy {
  color: yellowgreen;
  background-color: black;
}

#selected-character {
  width: 160px;
  height: 100px;
}

#attacker {
  width: 160px;
  height: 100px;
}

#defender {
  width: 160px;
  height: 100px;
}

#game-message {
  color: limegreen;
}

#restart {
  color: limegreen;
}